.grid-wrapper > img{
    max-width: 100%;
    height:auto;
    vertical-align: middle;
    display:inline-block;
  }
  .grid-wrapper > div{
    display:flex;
    justify-content: center;
    align-items:center;
  }

  .grid-wrapper > div > img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 4px;
    position: relative;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:4px solid wheat;
    transition: transform 0.2s ease;
  }

  .grid-wrapper{
    display:grid;
    grid-gap: 10px;
    grid-template-columns:repeat(auto-fit,minimax(250px,1fr));
    grid-auto-rows:200px;
    grid-auto-flow:dense;
  }

  .grid-wrapper .wide{
    grid-column: span 2;
  }

  .grid-wrapper .tall{
    grid-row: span 1;
  }
  .grid-wrapper .long{
    grid-row: span 3;
  }

  .grid-wrapper .big{
    grid-column: span 2;
    grid-row:span 2;
  }

  .middle{
    opacity: 0;
    position: absolute;
    font-size:100%;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .im:hover .middle{
    opacity: 1;
  }

  .im:hover img{
    opacity: 0.3;
    transform: translateY(-7px)
  }


#more{
    display: none;
}

#readmore{
    display:none;
}
.section-image{
    box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    border:3px solid white;
}

.grid-wrapper{
  transition: transform 0.2 ease;
}
.galleryim:hover img{
  transform: translateY(-10px);
  border:4px solid black;
}

.topt{
  position: relative;
  transition:transform 0.2 ease;
}
.topt:hover{
  color:#433;
  transform: translateY(-10px);

}
.top{
  color:#4f3d22;
}

.dark-mode .top{
  color:white;
}